@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.node-txt::-webkit-scrollbar {
    width: 6px;
}

.node-txt::-webkit-scrollbar-corner,
.node-txt::-webkit-scrollbar-thumb,
.node-txt::-webkit-scrollbar-track-piece,
.node-txt::-webkit-scrollbar-track {
    background: none;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    height: 100%;
    background-color: rgb(18, 18, 18);
    color: white;
    font-family: 'Open Sans', sans-serif;
}


.map {
    position: relative;
    background-image: url("./empty-map.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: auto;
    height: 0;
    padding-top: calc(580 / 1052.36 * 100%);
}

/* rename to map-container */
.container {
    margin: 0 auto;
    margin-top: 5%;
    width: 75%;
    height: 100%;
}

#node-container {
    top: 4.5px;
    position: absolute;
    left: 4.5px;
    right: 0px;
    bottom: 0px;
}

.node {
    position: absolute;
    display: flex;
    overflow: hidden;
    -webkit-transition: all .6s;
    transition: all .6s;
    border-radius: 10px;
    width: calc(9 / 1428 * 100%);
    height: calc(9 / 787.016 * 100%);
    background-color: rgb(201, 102, 22);
    color: rgba(255, 255, 255, 0);
    white-space: nowrap;
    user-select: none;
}

.node:hover {
    z-index: 10;
    padding: 15px;
    height: 100px;
    width: 350px;
    box-shadow: 0px 0px 20px 3px #121212;
    background-color: rgba(0, 162, 255, .68);
    color: white;
    white-space: normal;
}

.node-txt {
    line-height: 21px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: default;
}

.node-txt:hover::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(18, 18, 18, 0.376);
}

.node-txt:hover::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(255, 255, 255, .38);
}

.node-txt:hover::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, .48);
}

.node-txt:hover::-webkit-scrollbar-thumb:active {
    background: rgba(255, 255, 255, .58);
}

.node-txt h1 {
    margin: auto 0;
    font-size: 34px;
    line-height: 34px;
    font-weight: 200px;
}

.node-txt p {
    margin: auto;
    font-size: 21px;
    line-height: 23px;
}

.line-break {
    margin: 10px auto;
    width: 85%;
    height: 1px;
    background-color: currentColor;
}


/*********** Menu Stuff ***********/

#add-menu {
    display: none;
    position: fixed;
    z-index: 100;
    margin: auto;
    width: 25%;
    height: 35%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(43, 43, 43);
    border-radius: 17.5px;
    box-shadow: 0 0 20px 5px #121212;
}

#open-menu {
    display: block;
    position: fixed;
    z-index: 50;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 43% 0 0 85%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 100%;
    width: 35px;
    height: 35px;
    font-size: 30px;
    font-weight: bolder;
    line-height: 35px;
    cursor: pointer;
    transition: all .3s;
    user-select: none;
}

#open-menu:hover {
    background-color: rgba(0, 162, 255, 1);
}

#add-button {
    position: absolute;
    background-color: rgba(0, 162, 255, 1);
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 30px;
    user-select: none;
}

#close-button {
    position: absolute;
    top: 0;
    left: calc(100% - 35px);
    line-height: 35px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 100%;
    width: 35px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: all .3s;
}

#close-button:hover {
    background-color: red;
}

.form-container {
    margin: 9% auto 0;
    width: 50%;
    height: 100%;
}

#add-menu input,
#add-menu textarea {
    background-color: rgba(255, 255, 255, .12);
    border: none;
    color: white;
    margin: 15px auto 0;
    line-height: 21px;
    border-radius: 10.5px;
    text-indent: 5px;
    outline: none;
    display: block;
}

#ne-flex {
    display: flex;
}

#n-input,
#e-input {
    width: 45%;
}

#floating-node {
    z-index: 1000;
    display: none;
    position: absolute;
    border-radius: 10px;
    width: calc(12 / 1428 * 100%);
    height: calc(12 / 787.016 * 100%);
    background-color: rgb(201, 102, 22);
}

#undo-button {
    transform: rotate(180deg);
    display: block;
    position: fixed;
    z-index: 50;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 43% 0 0 15%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 35px;
    width: 35px;
    height: 35px;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    cursor: pointer;
    transition: all .3s;
    user-select: none;
    /* overflow-y: hidden; */
}

#undo-button:hover {
    background-color: rgb(238, 188, 25);
    /* width: 200px; */
}